<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="list-group" style="background-color: #F0FFF0; padding: 10px;">
        <p>ジャンル一覧</p>
        <% @genres.each do |genre| %>
          <%= link_to genre.name, items_path(genre_id: genre.id), class: "list-group-item list-group-item-action custom-list-item" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-9">
      <div style="background: url('<%= asset_path 'https://blog-imgs-153.fc2.com/s/p/r/springillustration/220520.png' %>') center center no-repeat; background-size: auto; text-align: center;">
        <h1>ようこそ、ながのCAKEへ！</h1>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の説明はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
      <h2>新着商品</h2>
      <div class="new-items" style="display: flex; flex-wrap: wrap; justify-content: start; padding: 0 20px;">
        <% @items.each do |item| %>
          <div style="padding: 10px; background-color: #ffffff; flex: 1; margin: 10px; width: calc(33.33% - 20px);">
            <%= link_to item_path(item) do %>
              <img style="width: 100%; height: auto; object-fit: contain; margin-bottom: 10px;" src="<%= url_for(item.image) %>">
            <% end %>
            <h5 style="margin: 0; padding: 0;"><%= item.name %></h5>
            <p style="margin: 0; padding: 0;">¥<%= number_with_delimiter(item.price) %></p>
          </div>
        <% end %>
      </div>
      <p style="text-align: right;"><%= link_to 'すべての商品を見る＞', items_path %></p>
    </div>
  </div>
</div>
