<h2>注文情報確認</h2>

<% @cart_items.each do |cart_item| %>
  <img src="<%= url_for(cart_item.item.image) %>" width="70" height="60" />
  <%= cart_item.item.name %>
  ￥<%= cart_item.item.price_including_tax %>
  <%= cart_item.quantity %>
  <%= cart_item.item.price_including_tax * cart_item.quantity %>
  <% @total += cart_item.subtotal %>
<% end %>
  <%= @total %>
  

<%= t("enums.order.payment.#{@order.payment}") %>
<%= @order.postcode %>
<%= @order.address %>
<%= @order.name %>


