<h2>注文情報入力</h2>
<h2>支払い方法</h2>
<%= form_with(model: @order, local: true, url: confirm_orders_path, method: :post) do |f| %>
<%#= form_with url: confirm_orders_path do |f| %>
<%= f.radio_button :payment, Order.payments.key(0),checked: "checked" %>
<%= f.label :payment_credit_card, Order.payments_i18n[:credit_card] %><br>
<%= f.radio_button :payment, Order.payments.key(1) %>
<%= f.label :payment_transfer, Order.payments_i18n[:transfer]%>

<h2>お届け先</h2>
<%= f.radio_button :address_number,1,checked: "checked" %>
<%= f.label :ご自身の住所 %><br>
〒<%= current_customer.post_code %>
<%= current_customer.address %>
<%= current_customer.last_name %>
<%= current_customer.first_name %>
<br>
<%= f.radio_button :address_number,2 %>
<%= f.label :登録済住所から選択 %><br>
<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
<br>
<%= f.radio_button :address_number,3 %>
<%= f.label :新しいお届け先 %><br>
<%= f.label :postcode, "郵便番号(ハイフンなし)" %>
<%= f.text_field :postcode %>
<br>
<%= f.label :address, "住所" %>
<%= f.text_field :address %>
<br>
<%= f.label :name, "宛名" %>
<%= f.text_field :name %>
<br>
<%= f.submit "確認画面へ進む", class: "col-xs-12 btn btn-primary"%>
<% end %>