<h2>注文履歴詳細</h2>
<h4>注文情報</h4>

<%= @order.created_at.strftime('%Y/%m/%d') %>
<%= @order.postcode %>
<%= @order.address %>
<%= @order.name %>
<%= t("enums.order.payment.#{@order.payment}") %>
<%#= @order.status %>

<h4>請求情報</h4>
<%# @order.shipping_fee = 800 %>
<%#= @order.shipping_fee %>
<%#= @total %>
<%# @shiptotal = @total + @order.shipping_fee %>
<%= @shiptotal %>

<h4>注文内容</h4>
<% @order_datails.each do |order_datail| %>
<%= order_datail.item.name %>]
<%= order_datail.item.price_including_tax %>
<%= order_datail.quantity %>
<%#= order_datail.item.price_including_tax * cart_item.quantity %>
<%# @total += cart_item.subtotal %>
<% end %>
