<% if admin_signed_in? %>

<li class="nav-item col-md-4">
   <div class="search_form">
    <%= form_with url: admin_search_path(@item), local: true, method: :get, class: "d-flex" do |f| %>
    <%= f.text_field :word, class: "form-control me-2" %>
    <%= f.hidden_field :range, value: "商品"%> <!-- 商品しか検索できないように設定-->
    <%= f.hidden_field :search, value: "perfect_match"%>
    <%= f.hidden_field :search, value: "forward_match"%>
    <%= f.hidden_field :search, value: "backward_match"%>
    <%= f.hidden_field :search, value: "partial_match"%>
    <%= f.submit "検索", class: "btn btn-outline-success" %>
  <% end %>
   </div>
</li>
<% else %>

<li class="nav-item col-md-4">
<div class="search_form">
    <%= form_with url: customer_search_path(@item), local: true, method: :get, class: "d-flex" do |f| %>
    <%= f.text_field :word, class: "form-control me-2" %>
    <%= f.hidden_field :range, value: "商品"%> <!-- 商品しか検索できないように設定-->
    <%= f.hidden_field :search, value: "perfect_match"%>
    <%= f.hidden_field :search, value: "forward_match"%>
    <%= f.hidden_field :search, value: "backward_match"%>
    <%= f.hidden_field :search, value: "partial"%>
    <%= f.submit "検索", class: "btn btn-outline-success" %>
  <% end %>
</div>
</li>
<% end %>
