
<!DOCTYPE html>
<html>
  <head>
    <title>Cakeshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6781c6f16f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('IMG-7763.jpg', size: "200x100") %></a>
          <ul class="navbar-nav ml-auto ">
            <% if admin_signed_in? %>
              <% if request.fullpath.include? "/admin" %>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "商品一覧", admin_items_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "会員一覧", admin_customers_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "注文履歴一覧", admin_order_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "ジャンル一覧", admin_genres_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "ログアウト", destroy_admin_session_path %>
                  </button>
                </li>
              <% else %>
              <% end %>
            <% elsif customer_signed_in? %>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "マイページ", customer_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "商品一覧", items_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "カート", cart_items_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "ログアウト", destroy_customer_session_path %>
                  </button>
                </li>
              <% else %>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "About", about_path %>
                  </button>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "商品一覧", items_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "新規登録", new_customer_registration_path %>
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "ログイン", new_customer_session_path %>
                  </button>
                </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
